<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    
   
    
    <title>CaptionMe(me)</title>
</head>
<body>

  <canvas id="granim-canvas"></canvas>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CaptionMe(me)</a>

          <div class="navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
               {{#if logged_in}}
              <li class="nav-item">
                <a class="nav-link" href="/profile">MyMemes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logout-button">Log Out</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login">MyMemes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              {{/if}}
              
            </ul>
            </span>
          </div>
        </div>
      </nav>

  
    {{{body}}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  
  <!-- import granimmin..js script -->
<script src="/js/granim.min.js"></script>
<!-- import granim.js appilication script -->
<script src="/js/script-granim.js"></script>



</body>
</html>