<div class="card mx-auto" id="createMemeimg" style="width: 35rem; margin-top:20px; margin-bottom:11rem;">
        <img src={{}} class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p id="insert-caption"></p>
        </div>
        <hr style="padding: 0px;">
        <div class="text-center mx-auto">
            <input type="createdCaption" class="form-control text-center" aria-describedby="captionHelpBlock" placeholder="Input a caption here">
            <button type="submit" class="btn btn-primary" id="postBtn">Post Meme</button>
        </div>
</div>
